@font-face {
    font-family: tehilla;
    src: url(./assets/TehilaRegular.TTF);
}

@font-face {
    font-family: tehilla;
    src: url(./assets/tehilabold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: livorna;
    src: url(./assets/FbwLivorna.otf);
}

@font-face {
    font-family: livorna;
    src: url(./assets/FbwLivornaBold.otf);
    font-weight: bold;
}

body {
    font-family: tehilla;
}

.topContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-image: url("./assets/board-back.jpeg");
    background-size: cover;
}

.topContaineritem {
    flex: 0 0 auto;
    margin: .5em;
}

.rowContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    align-content: flex-start;
}

.rowContainerItem {
    flex: 0 0 auto;
    margin: .1em;
}

.columnContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: auto;
    align-content: flex-start;
}

.columnContainerItem {
    flex: 0 0 auto;
    margin: .1em;
}

.fullPage {
    height: 100vh;
    width: 100vw;
}

.topRow {
    height: 5em;
}

.middleRow {
    flex-grow: 1;
    max-height: 75%
}

.bottomRow {
    min-height: 7em;
    align-content: stretch;
}

.bottomRowItem {
    font-size: xxx-large;
    font-weight: 500
}



.clockColumn {
    justify-content: space-around;
}

.panel {
    border: 5px solid #95a5a6;
    border-radius: 25px;
    background-color: white;
    padding: 1em;
    height: 100%;
}


.scheduleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    min-width: 35em;
    max-width: 35em;
}

.scheduleitem {
    flex: 0 0 auto;
}

.scheduleItemDescription {
    text-align: center;
    font-size: xx-large;
    font-weight: 600
}

.scheduleGroupName {
    font-size: xxx-large;
    font-weight: 700;
    text-align: center;
}

.scheduleItemNameRow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: flex-start;
}

.scheduleItemNameRowItem {
    flex: 0 0 auto;
    margin: 0 .1em;
    font-size: xxx-large;
}

.timeSoon {
    color: red;
}

.dottedLine {
    flex-grow: 1;
    padding: .5em;
}

.dottenLineInner {
    height: 100%;
    border-bottom-style: dotted;
}

.announcementSlide {
    height: 100vh;
    width: 100vw;
}

.announcementSlideOuter {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around
}

.announcementSlideInner {
    flex: 0 0 auto;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.textRtl {
    text-align: right;
}

.digitalClockWrapper {
    margin-top: 300px;
}

.digitalClock {
    font-size: 6em;
}

.slick-list {
    height:100vh;
}
